@charset 'utf-8';
@import '../../../node_modules/basscss/css/basscss.css';
@import '../../../node_modules/react-select/dist/react-select.css';
    .toggleRectangle {
    float: left;
    margin-top: 125px;
    margin-bottom: 0px;
    margin-left: 36px;
    opacity: 1;
    cursor: pointer;
    width: 91px;
    height: 24px;
  }
  .toggleRectangleOpacity {
    opacity: 0.5;

  }
.customerSegment {
  width: 60px;
  height: 34px;
  border: solid 1.3px #48cab9;
  margin-left: 580px;
   margin-top: -23px;
}
.imgCustomer {
    margin-left: 20px;
    margin-top: 5px;
}
.textCustomer {
    width: 155px;
    margin-left: 74px;
    margin-top: -21px;
    font-size: 10px;
   font-family: WorkSans;
}
.nestedCondition {
  width: 60px;
  height: 34px;
  border: solid 1.3px #ff7b7b;
  margin-left: 320px;
  margin-top: -34px;
}
.imgNested {
  margin-left: 17px;
  margin-top: 2px;
}
.textNested {
  width: 100px;
  height: 15px;
  margin-top: -10px;
  margin-left: 74px;
  font-size: 10px;
   font-family: WorkSans;
}
.singleCondition {
  width: 60px;
  height: 35px;
  margin-left: 5px;
  margin-top: -35px;
  border: solid 1.3px #5e9cd0;
}
.imgSingle {
  margin-left: 17px;
  margin-top: 7px;
}
.textSingle {
    width: 105px;
    height: 14px;
    margin-left: 71px;
    margin-top: -10px;
    font-family: WorkSans;
}
.firstWhite {
  width: 650px;
  height: 70px;
  background-color: #00bfa5;
  
}
.firstLayout {
  margin-top: 43px;
  width: 1279px;
  background-color: #f5f5f5;
}
.newRectangle {
  margin-top: 5px;
  margin-left: 1px;  
  width: 15px;
  height: 16px;
  border: solid 1px #00bfa5;

}
.newBox {
  margin-top: 50px;
  width: 1270px;
  height: 170px;
  border: solid 0.5px #979797;
  margin-left: 30px;
}
.secondRule {
  margin-top: 125px;
      margin-left: 560px;
    width: 92px;
}
.newBoxText {
  margin-left: 300px;
  margin-top: 30px;
  font-family: WorkSans;
  color: #a3a1a1;
   font-size: 25px;
}
.paperDown {
  margin-top: 0px;
}
.newHai {
  margin-left: 16px;
  margin-top: -18px;
  color: #00bfa5;
}
  .entityClose {
    float: right;
    margin-top: 8px;
    margin-right: 3px;
  }
  .entityClose a {
    text-decoration: none;
    color: #888484;
    font-size: 20px;
  }
  .entityClose a:focus, .entityClose a:hover {
    text-decoration: none;
  }
    .openPaper a {
    text-decoration: none;
    color: #888484;
    
  }
  .openPaper a:focus, .openPaper a:hover {
    text-decoration: none;
  }
  .toggleEntity {
    float: left;
    margin-top: 125px;
    margin-bottom: 0px;
    margin-left: 36px;
    opacity: 1;
    cursor: pointer;
    width: 91px;
    height: 24px;
  }
  .toggleEntityOpacity {
    opacity: 0.5;

  }
.toggleHide {
   visibility: hidden;
}
.outerRectangleThird {
  border: 0.1px solid #00bfa5;
  width: 50px;
  height: 30px;

}
.plusInsideRectangleThird {
color: #00bfa5;
font-size: 25px;
margin-left: 15px;
margin-top: -4px;
}
.outerRectangleSecond {
  border: 0.1px solid #ff7b7b;
  width: 50px;
  height: 30px;

}
.plusInsideRectangleSecond {
color: #ff7b7b;
font-size: 25px;
margin-left: 15px;
margin-top: -4px;
}

.outerRectangleFirst {
  border: 0.1px solid #5e9cd0;
  width: 50px;
  height: 30px;

}
.plusInsideRectangleFirst {
color: #5e9cd0;
font-size: 25px;
margin-left: 15px;
margin-top: -4px;
}
.borderButtonColor {
	padding-left: 3px;
   height: 110px;
   margin-top: 10px;
}
.bg {
	background-color: #f5f5f5;
}
.singleCondition {
  font-family: WorkSans;
  font-size: 11px;
  color: #464646;
  margin-left: 60px;
  margin-top: -20px;

}
.first {
	margin-top: 8px;
	margin-left: 10px;
	width: 50px;

}
.second {
	margin-left: 260px;
	width: 50px;
	margin-top: -29px;

}
.third {
	margin-left: 520px;
width: 50px;
	margin-top: -29px;


}
.subHeader {
  height: 60px;
    width: 1315px;
    margin-top: -114px;
    background-color: #f5f5f5;
}